<div class="section">
  <div class="container card card-nav-tabs">
    <div class="card-header card-header warning">
      <div class="d-flex flex-column flex-md-row">
        <h3 class="text-center text-md-start">
          {{ include.project.title }}
        </h3>
        <div class="d-flex flex-grow-1 justify-content-center justify-content-md-end">
          <span class="p-3 badge badge-pill badge-{% if project.in_progress %}success{% else %}default{% endif %}" style="height: fit-content;">
            {% if project.in_progress %}In corso{% else %}Terminato{% endif %}
          </span>
        </div>
      </div>


    </div>
    <div class="row card-body">
      <div class="col-md-4">
        <div class="p-3 d-flex justify-content-center">
          <img
            style="width: 200px;"
            src="{{ include.project.cover_image | relative_url }}"
            alt=""
            class="img-fluid rounded shadow-lg">
        </div>
      </div>
      <div class="col-md-8">
        <div class="d-flex justify-content-end">
          <p class="text-center text-md-right">{{ include.project.summary }}</p>
        </div>
      </div>
    </div>
    {% if include.project.content.size > 0 %}
      <div class="card-footer">
        <a href="{{ include.project.url }}" class="btn btn-primary text-secondary">{{ site.data.settings.basic_settings.learn_more_button_title }} su {{ include.project.title }}</a>
      </div>
    {% endif %}

  </div>
  <hr>
</div>