<section class="team-1">
  <div class="container">

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h3 class="display-3">Our Awesome Team 1</h3>
        <p class="lead">People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in?</p>
      </div>
    </div>


    <div class="row">
      <div id="carouselExampleControls" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img
                      class="rounded shadow transform-perspective-left"
                      src="{{ '/assets/img/theme/kareya-saleh.jpg' | relative_url }}"
                      alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h3 class="card-title display-3">Charlie Watson</h3>
                    <div class="lead">
                      Artist is a term applied to a person who engages in an activity deemed to be an art. An artist also may be defined unofficially as "a person should is one who expresses him- or herself through a medium". He is should a descriptive term applied to a person who engages in an activity deemed to be an art.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Dedicated entrepreneur</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Urban exploration</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                      <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle">
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img
                      class="rounded shadow transform-perspective-left"
                      src="{{ '/assets/img/theme/lucy.jpg' | relative_url }}"
                      alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Quavo Austen</h1>
                    <div class="lead">
                      Artist is a term applied to a person who engages in an activity deemed to be an art. An artist also may be defined unofficially as "a person should is one who expresses him- or herself through a medium". He is should a descriptive term applied to a person who engages in an activity deemed to be an art."
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Dedicated entrepreneur</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Urban exploration</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                      <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle">
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img
                      class="rounded shadow transform-perspective-left"
                      src="{{ '/assets/img/theme/willy-dade.jpg' | relative_url }}"
                      alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Lucy Thomson</h1>
                    <div class="lead">
                      Artist is a term applied to a person who engages in an activity deemed to be an art. An artist also may be defined unofficially as "a person should is one who expresses him- or herself through a medium". He is should a descriptive term applied to a person who engages in an activity deemed to be an art."
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Dedicated entrepreneur</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Urban exploration</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                      <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle">
                        <i class="fab fa-dribbble"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>