<div class="team-2">
  <div class="container">
    <ul class="row" style="padding-inline-start: unset;">
      {% assign sorted_team_member = site.team | sort: 'order' %}
      {% for member in sorted_team_member %}
        <li class="col-lg-4 col-md-6" style="list-style-type: none;">
          <div class="card card-profile" data-image="profile-image">
            <div class="card-header">
              <div class="card-image">
                <a href="{{ member.url }}">
                  <img
                    class="img rounded"
                    style="object-fit: cover;"
                    alt="Vai al dettaglio di {{ member.full_name }}"
                    src="{{ member.profile_image.filename | relative_url }}">
                </a>
              </div>
            </div>
            <div class="card-body pt-0">
              <h4 class="display-4 mb-0">{{ member.full_name }}</h4>
              <p class="lead">{{ member.short_bio }}</p>
              <div class="table-responsive">
                <ul class="list-unstyled ">
                  {% for key_point in member.key_points %}
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-{{ key_point.ni_icon_bg_color_name }} mr-3">
                            <i class="ni ni-{{ key_point.ni_icon_name }}"></i>
                          </div>
                        </div>
                        <div>
                          <h5 class="mb-1">{{ key_point.name }}</h5>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="card-footer">
              <ul
                aria-label="profili social"
                class="d-flex"
                style="padding-inline-start: unset;">
                {% for social in member.socials %}
                  <li class="mr-2" style="list-style-type: none;">

                    <a
                      href="{{ social.link }}"
                      class="btn btn-{{ social.name }} btn-sm rounded-circle"
                      aria-label="{{ social.name }}">
                      <i class="fab fa-{{ social.name }}" aria-hidden="true"></i>
                    </a>

                  </li>

                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>