<div class="section">
  <div class="container card card-nav-tabs">
    <div class="card-header card-header warning">
      <div class="d-flex flex-column flex-md-row">
        {% if include.product.product_url %}
          <a href="{{ include.product.product_url }}">
            <h3 class="text-center text-md-start">
              {{ include.product.title }}
            </h3>
          </a>
        {% else %}
          <h3 class="text-center text-md-start">
            {{ include.product.title }}
          </h3>
        {% endif %}
        
      </div>

    </div>
    <div class="row card-body">
      <div class="col-md-4">
        <div class="p-3 d-flex justify-content-center">
          <img
            style="width: 200px;"
            src="{{ include.product.cover_image | relative_url }}"
            alt=""
            class="img-fluid rounded shadow-lg">
        </div>
      </div>
      <div class="col-md-8">
        <div class="d-flex justify-content-end">
          <p class="text-center text-md-right">{{ include.product.summary }}</p>
        </div>
      </div>
    </div>
    {% if include.product.content.size > 0 %}
      <div class="card-footer">
        <a href="{{ include.product.url }}" class="btn btn-primary text-secondary">{{ site.data.settings.basic_settings.learn_more_button_title }} su {{ include.product.title }}</a>
      </div>
    {% endif %}

  </div>
  <hr>
</div>