{% assign file_name = include.service.relative_path | split: '/' | last %}
{% assign base_filename = file_name | split: '.' | first %}
<div class="section features-4" id="{{ base_filename }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-default shadow border-0">
          <img src="{{ include.service.featured_image | relative_url }}" class="card-img-top" alt="">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-4 text-white">{{ include.service.name }}</h4>
            <p class="lead text-italic text-white">{{ include.service.summary }}</p>
            {% if include.service.content.size > 0 %}
              <a href="{{ include.service.url }}" class="btn btn-secondary">{{ site.data.settings.basic_settings["learn_more_button_title"] }}</a>  
            {% endif %}  
          </blockquote>
        </div>
      </div>
      <ul aria-label="aspetti del servizio: {{ include.service.name }}" class="col-lg-7 p-sm-0" style="padding-inline-start: unset;">
      <li style="list-style-type: none;">
        {% for service_aspect in include.service.aspects %}
          {% if forloop.index0 == 0 %}
            <div class="row">   
          {% elsif forloop.index0 == 2 %}
            <div class="row mt-lg-4">
          {% endif %}

          <div class="col-md-6">
            <div class="info info-hover-{{ service_aspect.ni_icon_bg_color_name }}">
              <div class="icon icon-shape bg-{{ service_aspect.ni_icon_bg_color_name }} rounded-circle text-primary">
                <i class="ni ni-{{ service_aspect.ni_icon_name }} text-white" aria-hidden="true"></i>
              </div>
              <h5 class="info-title">{{ service_aspect.name }}</h5>
              <p class="description">{{ service_aspect.description }}</p>
              <ul aria-label="keyword dell'aspetto {{ service_aspect.name }}" style="padding-inline-start: unset;">
                {% for tag in service_aspect.tags %}
                  <li class="badge badge-primary badge-pill text-white" style="list-style-type: none;">{{ tag }}</li>
                {% endfor %}
              </ul>
              
            </div>            
          </div>

          {% if forloop.index0 == 1 or forloop.last %}
            </div> <!-- Fine row -->
          {% endif %}
        {% endfor %}
      </li>
        
      </ul>
    </div>
  </div>
</div>