<section class="mt-4" id="contact">
  <div class="row mt-5 mb-4 pt-5">
    <div class="col-md-8 ml-auto mr-auto text-center mt-5">
      <span class="badge badge-info">Lascia un messaggio</span>
      <h2 class="title">Dicci di più su di
        <b>te</b>
      </h2>
      <p class="display-4 desc">Che tu abbia una domanda o voglia solo salutarci, contattaci!</p>
    </div>
  </div>

  <div class="contactus-1 fullWidth">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 ml-auto mr-auto">
          <div class="card card-contact card-raised">
            <form
              method="post"
              name="contatti"
              data-netlify="true"
              action="{{ site.data.settings.contact_settings.confirmation_url }}"
              id="contact-form">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nome">Nome</label>
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-circle-08"></i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          name="Nome"
                          placeholder="Nome..."
                          aria-label="Nome"
                          type="text"
                          id="nome">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 pl-2">
                    <div class="form-group">
                      <label for="cognome">Cognome</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="ni ni-collection"></i>
                          </span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          name="Cognome"
                          placeholder="Cognome..."
                          aria-label="Cognome"
                          id="cognome">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Indirizzo Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="ni ni-email-83"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email..."
                      name="email"
                      id="email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="message">Il tuo messaggio</label>
                  <textarea
                    name="message"
                    class="form-control"
                    id="message"
                    rows="6"></textarea>
                </div>
                <div class="form-group">
                  <label for="consent">Acconsento al trattamento dei miei dati personali come indicato nelle
                    <a href="/privacy">Privacy Policy</a>
                  </label>
                  <input
                    class="form-control"
                    type="checkbox"
                    id="consent"
                    name="consent"
                    style="height: 1rem;"
                    required>
                </div>

                <div class="row">
                  <div class="col mt-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">{{ site.data.settings.contact_settings.send_button_text }}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>