<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
          <h3 class="display-3">Argon &amp; Jekyll</h3>
          <p class="lead mt-0">Together at last! Use the Argon theme to build a Jekyll landing page, blog or complete website. We've included lots of examples in the navigation - take a look.</p>
          <br>
          <div class="buttons">
            <a href="/blog" class="btn btn-primary">
              Read our blog
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section features-6">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-html5 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">For Developers</h5>
            <p>The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now.</p>
            <a href="#" class="text-info">Learn more</a>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-app text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">For Designers</h5>
            <p>There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill. I’m not really specifically talented at anything except for the ability to learn.</p>
            <a href="#" class="text-info">Learn more</a>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-bell-55 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title">For Beginners</h5>
            <p>That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment. If everything I did failed - which it doesn't.</p>
            <a href="#" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img
          class="ml-lg-5"
          src="{{ '/assets/img/ill/ill.png' | relative_url }}"
          width="100%">
      </div>
    </div>
  </div>
</div>
<div class="section features-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-3">Insight</span>
        <h3 class="display-3">Full-Funnel Social Analytics</h3>
        <p class="lead">The time is now for it to be okay to be great. For being a bright color. For standing out.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-settings-gear-65"></i>
          </div>
          <h6 class="info-title text-uppercase text-primary">Social Conversations</h6>
          <p class="description">We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
          <a href="javascript:;" class="text-primary">More about us
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
            <i class="ni ni-atom"></i>
          </div>
          <h6 class="info-title text-uppercase text-success">Analyze Performance</h6>
          <p class="description">Don't get your heart broken by people we love, even that we give them all we have. Then we lose family over time. As we live, our hearts turn colder.</p>
          <a href="javascript:;" class="text-primary">Learn about our products
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
            <i class="ni ni-world"></i>
          </div>
          <h6 class="info-title text-uppercase text-warning">Measure Conversions</h6>
          <p class="description">What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be great. or being a bright color. For standing out.</p>
          <a href="javascript:;" class="text-primary">Check our documentation
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<section
  class="pricing-5 fullWidth"
  id="pricing-6"
  style="background-image: url('{{ '/assets/img/ill/bg_pricing5.svg' | relative_url }}');">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center flex-column">
        <h3 class="display-3 mt-3">Choose a plan for your next project</h3>
        <ul class="nav nav-pills nav-pills-primary my-4" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#commercial"
              role="tablist">
              Cheaper
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="tab"
              href="#personal"
              role="tablist">
              Expensive
            </a>
          </li>
        </ul>
        <p class="lead mt-0">You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund.</p>
      </div>
      <div class="col-lg-7 col-md-8 ml-auto mr-auto">
        <div class="tab-content tab-space">
          <div class="tab-pane" id="personal">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-pricing bg-white border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Gold</h6>
                  </div>
                  <div class="card-body">
                    <div class="display-2">$100</div>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center">
                        <b class="text-primary">200GB</b>
                        <span>File Storage</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">Unlimited</b>
                        <span>Users</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">Premium</b>
                        <span>Support</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer bg-transparent">
                    <a href="#!">Request a demo</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-pricing bg-white border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Platinum</h6>
                  </div>
                  <div class="card-body">
                    <div class="display-2">$135</div>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center">
                        <b class="text-primary">500GB</b>
                        <span>File Storage</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">Unlimited</b>
                        <span>Users</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">No time</b>
                        <span>Tracking</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer bg-transparent">
                    <a href="#!">Request a demo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="commercial">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-pricing bg-white border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Standard</h6>
                  </div>
                  <div class="card-body">
                    <div class="display-2">$25</div>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center">
                        <b class="text-primary">20GB</b>
                        <span>File Storage</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">15</b>
                        <span>Users</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">false</b>
                        <span>Support</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer bg-transparent">
                    <a href="#!">Request a demo</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-pricing bg-white border-0 text-center mb-4">
                  <div class="card-header bg-transparent">
                    <h6 class="text-uppercase ls-1 py-3 mb-0">Premium</h6>
                  </div>
                  <div class="card-body">
                    <div class="display-2">$59</div>
                    <span>per month</span>
                    <ul class="list-unstyled my-4">
                      <li class="align-items-center">
                        <b class="text-primary">50GB</b>
                        <span>File Storage</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">100</b>
                        <span>Users</span>
                      </li>
                      <li class="align-items-center">
                        <b class="text-primary">Premium</b>
                        <span>Support</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer bg-transparent">
                    <a href="#!">Request a demo</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>