<div class="contactus-3 fullWidth">
  <div class="page-header">
    <img
      class="bg-image"
      src="{{ '/assets/img/ill/bg_contactus3.svg' | relative_url }}"
      alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5">
        <h1 class="display-1">Hai una domanda, una proposta o vuoi anche solo salutarci?</h1>
        <button class="btn btn-icon btn-primary mt-3" type="button">
          <span class="btn-inner--icon">
            <i class="ni ni-chat-round"></i>
          </span>
          <span class="btn-inner--text">
            <a class="text-white" href='#contact'>Scrivici</a>
          </span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-square-pin" aria-hidden="true"></i>
          </div>
          <h2 class="info-title">Indirizzo</h2>
          <a href="{{ site.data.settings.contact_info.address.gmaps_link }}" class="description px-0">
            {{ site.data.settings.contact_info.address.name }}
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-email-83" aria-hidden="true"></i>
          </div>
          <h2 class="info-title">Email</h2>
          <a href="mailto:{{ site.data.settings.contact_info.email }}" class="description px-0">{{ site.data.settings.contact_info.email }}</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-mobile-button" aria-hidden="true"></i>
          </div>
          <h2 class="info-title">Telefono</h2>
          <a href="tel:{{ site.data.settings.contact_info.phone }}" class="description px-0">{{ site.data.settings.contact_info.phone }}</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <div class="info info-hover">
          <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
            <i class="ni ni-circle-08" aria-hidden="true"></i>
          </div>
          <h2 class="info-title">Contact</h2>
          <p class="description px-0">{{ site.data.settings.contact_info.contact }}</p>
        </div>
      </div>
    </div>
  </div>
</div>