<header class="header-5">
  <div class="page-header">
    <div class="container">
      <div class="row align-items-center text-left">
        <div class="col-md-5 col-12">
          <h1 class="display-3">{{ site.data.settings.basic_settings["site_title"] }},&nbsp;<span class="text-primary">
              Soluzioni digitali accessibili.</span>
          </h1>
          <p class="lead pb-4">{{ site.data.settings.basic_settings.hero_message }}</p>
          <div class="row">
            <a class="btn btn-primary" href="/storia">{{ site.data.settings.basic_settings["learn_more_button_title"] }} sulla storia di {{ site.data.settings.basic_settings["site_title"] }}</a>
          </div>
        </div>
        <div class="col-md-7 col-12 pl-0 my-5 d-none d-md-block">
          <img
            class="ml-lg-5"
            alt="logo accesee"
            src="{{ '/assets/img/logo-da-biglietto.svg' | relative_url }}"
            width="100%">
        </div>
      </div>
    </div>
  </div>
</header>