<div class="section">
  <div class="container card card-nav-tabs">
    <div class="card-header card-header warning">
      <div class="d-flex flex-column flex-md-row">
        <h3 class="text-center text-md-left">
          {{ include.teaching.title }}
        </h3>
        <div class="d-flex flex-grow-1 justify-content-center justify-content-md-end">
          {% assign teaching_end_date = include.teaching.end_date | date: "%m/%Y" %}
          <p>Conclusa il (mese/anno): {{ teaching_end_date }}</p>
        </div>
      </div>
    </div>
    <div class="card-body text-center text-md-left">
      <p>Destinatari: <b>{{ include.teaching.target | capitalize }}</b></p>
      <p>Ore totali: <b>{{ include.teaching.hours }}</b></p>  
      <p>Modalità di erogazione: <b>{{ include.teaching.delivery }}</b></p>
      <p>{{ include.teaching.summary }}</p>
    </div>
    {% if include.teaching.content.size > 0 %}
      <div class="card-footer">
        <a href="{{ include.teaching.url }}" class="btn btn-primary text-secondary">{{ site.data.settings.basic_settings.learn_more_button_title }} su {{ include.teaching.title }}</a>
      </div>
    {% endif %}

  </div>
  <hr>
</div>