<div class="cd-section" id="accordion">
  <!-- *********     ACCORDION 1      ********* -->
  <div class="accordion-1">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h2 class="title mb-3 mt-5">Domande frequenti</h2>
          <p class="lead">{{ site.data.settings.faq["summary"] }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto">
          <ul
            aria-label="faq"
            class="accordion"
            id="accordionExample"
            style="padding-inline-start: unset;">
            {% for qa in include.qa %}
              <li class="card" style="list-style-type: none;">
                <div class="card-header" id="accordion-heading-{{ forloop.index }}">
                  <h3 class="mb-0">
                    <button
                      class="btn btn-link w-100 text-primary text-left collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse-{{ forloop.index }}"
                      aria-expanded="false"
                      aria-controls="collapse-{{ forloop.index }}">
                      {{ qa.question }}
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h3>
                </div>
                <div
                  id="collapse-{{ forloop.index }}"
                  class="collapse"
                  aria-labelledby="accordion-heading-{{ forloop.index }}"
                  data-parent="#accordionExample"
                  style="">
                  <div class="card-body opacity-8">
                    {{ qa.answer }}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>