{% assign conferences_by_year = site.conferences | group_by_exp: "item", "item.date | date: '%Y'" %}
{% assign years = conferences_by_year | map: "name" | sort | reverse %}

{% for year in years %}
  {% assign year_group = conferences_by_year | where: "name", year | first %}
  <h4 class="display-3 my-4">{{ year_group.name }}</h4>
  <ul style="margin-bottom: 200px;" aria-label="conferenze e webinar dell'anno {{ year_group.name }}">
    {% for conference in year_group.items %}
      <li style="margin-bottom: 72px;">
        <h5 class="my-3">
          <a href="{{ conference.external_link }}">
            {{ conference.title }}
          </a>
        </h5>
        <div class="row" style="margin-right: unset;">
          {% if conference.video_embed %}
            <div class="col-md-6 video-container">
              {{ conference.video_embed }}
            </div>
          {% elsif conference.featured_image %}
            <div class="col-md-6">
              <img
                src="{{ conference.featured_image }}"
                class="img-fluid"
                alt="{{ conference.featured_image_alt }}">
            </div>
          {% endif %}


          <div class="col-md-6">
            <p>{{ conference.abstract }}</p>
            {% if conference.content.size > 0 %}
              <a href="{{ conference.url }}" class="btn btn-primary btn-round">
                {{ site.data.settings.basic_settings.learn_more_button_title }}
              </a>
            {% endif %}

          </div>
        </div>
      </li>

    {% endfor %}
  </ul>
{% endfor %}