{% assign pubblications_by_year = site.pubblications | group_by_exp: "item", "item.date | date: '%Y'" %}
{% assign years = pubblications_by_year | map: "name" | sort | reverse %}

{% for year in years %}
  {% assign year_group = pubblications_by_year | where: "name", year | first %}
  <h4 class="display-3 my-3">{{ year_group.name }}</h4>
  <ul aria-label="pubblicazioni dell'anno {{ year_group.name }}">
    {% for pubblication in year_group.items %}
      <li>
        <p class="mt-4">{{ pubblication.citation }}
          <a class="ml-2" href="{{ pubblication.link }}">
            <span class="sr-only">Vai al link ufficiale della pubblicazione {{ pubblication.citation }}</span>
            <i class="ni ni-curved-next"></i>
          </a>
        </p>

        <ul aria-label="Keywords" style="padding-inline-start: unset;">
          {% for keyword in pubblication.keywords %}
            <li class="badge badge-primary mr-2">
              {{ keyword }}
            </li>
          {% endfor %}
        </ul>

        <hr>
      </li>

    {% endfor %}
  </ul>
{% endfor %}