{% if site.data.settings.sentence_of_the_day %}
  <section>
    <div class="container">
      <h2 class="sr-only">Frase del giorno</h2>
      <div class="sentence-of-the-day text-lg-center">
        <blockquote class="blockquote">
          <p class="display-2">{{ site.data.settings.sentence_of_the_day.sentence }}</p>
          <footer class="blockquote-footer">
            <cite class="display-4" title="{{ site.data.settings.sentence_of_the_day.author }}">{{ site.data.settings.sentence_of_the_day.author }}</cite>
          </footer>
        </blockquote>

      </div>
    </div>
  </section>
{% endif %}