.thumbnail-image-aspect-fit {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.sentence-of-the-day {
    font-family: "Ms Madi", cursive;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
