<div class="section features-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3">The time is now</h3>
        <p class="lead">The time is now to be okay to be the greatest you. Would you believe in what you believe in, if you were the only one who believed it?</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-4 mr-auto text-left mt-4">
        <div class="card bg-default shadow border-0">
          <img src="{{ '/assets/img/theme/img-1-1200x1000.jpg' | relative_url }}" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
            </svg>
            <h4 class="display-4 text-white">Design System</h4>
            <p class="lead text-italic text-white">That’s my skill. I’m not really specifically talented at anything except for the ability to learn. </p>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-7 p-sm-0">
        <div class="row">
          <div class="col-md-6">
            <div class="info info-hover-warning">
              <div class="icon icon-shape bg-warning shadow rounded-circle text-primary">
                <i class="ni ni-satisfied text-white"></i>
              </div>
              <h5 class="info-title">Best Quality</h5>
              <p class="description">It becomes harder for us to give others a hand. We get our heart broken by people we love.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-info">
              <div class="icon icon-shape bg-info shadow rounded-circle text-primary">
                <i class="ni ni-palette text-white"></i>
              </div>
              <h5 class="info-title">Awesome Design</h5>
              <p class="description">As we live, our hearts turn colder. Cause pain is what we go through as we become older.</p>
            </div>
          </div>
        </div>
        <div class="row mt-lg-4">
          <div class="col-md-6">
            <div class="info info-hover-danger">
              <div class="icon icon-shape bg-danger shadow rounded-circle text-primary">
                <i class="ni ni-user-run text-white"></i>
              </div>
              <h5 class="info-title">Fast Development</h5>
              <p class="description">We’re not always in the position that we want to be at. We’re constantly growing.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-hover-success">
              <div class="icon icon-shape bg-success shadow rounded-circle text-primary">
                <i class="ni ni-glasses-2 text-white"></i>
              </div>
              <h5 class="info-title">Super Fresh</h5>
              <p class="description">When we lose family over time. What else could rust the heart more over time? Blackgold.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>