<div class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h3 class="display-3">Con chi lavoriamo</h3>
        <p class="lead">{{ site.data.settings.customers["summary"] }}</p>
      </div>
    </div>
    <ul
      aria-label="lista clienti"
      class="d-flex justify-content-center flex-wrap"
      style="padding-inline-start: unset;">
      {% assign sorted_customers = site.customers | sort: "order" %}
      {% for customer in sorted_customers %}
        <li class="flex-column d-flex justify-content-center align-items-center mr-md-5 mt-5" style="list-style-type: none;">
          {% if customer.website %}
            <a href="{{ customer.website }}">
              <img
                src="{{ customer.logo | relative_url }}"
                alt="Logo {{ customer.name }}"
                class="img-fluid rounded-circle shadow thumbnail thumbnail-image-aspect-fit">
            </a>
          {% else %}
            <img
              src="{{ full_logo_path | relative_url }}"
              alt="Logo {{ customer.name }}"
              class="img-fluid rounded-circle shadow thumbnail thumbnail-image-aspect-fit">
          {% endif %}
          <small class="d-block font-weight-bold mt-2">{{ customer.name }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>