<div class="section features-3 mt-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <!-- Title row -->
    <div class="row text-center text-md-left">
      <div class="col-lg-8">
        <h3 class="display-3 text-white">In cosa crediamo<span class="text-success">nel nostro lavoro</span>
        </h3>
        <p class="lead text-white">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment.</p>
      </div>
    </div>
    <!-- Parte dei -->
    <div class="row row-grid mt-5">
      {% for believe in site.believes %}
        <div class="mt-5 col-lg-6">
          <div class="info info-horizontal bg-white">
            <div class="icon icon-shape icon-shape-{{ believe.color_type }} rounded-circle text-white">
              <i class="ni ni-{{ believe.ni_icon_name }} text-{{ believe.color_type }}"></i>
            </div>
            <div class="description pl-4">
              <h5 class="title text-{{ believe.color_type }}">{{ believe.name }}</h5>
              <p>{{ believe.description }}</p>
              {% if believe.learn_more_url %}
                <a href="{{ believe.learn_more_url }}" class="text-{{ believe.color_type }}">Scopri di più</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>