<div class="section features-7 bg-secondary fullWidth">
  <div class="container">
    <div class="row text-center text-md-left">
      <div class="col-md-8">
        <h2 class="display-3">Alcuni dei più bei progetti ai quali stiamo partecipando o abbiamo partecipato</h2>
        <p class="lead">{{ site.data.settings.featured_works["summary"] }}</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-12">
        <ul
          aria-label="progetti in evidenza"
          class="row row-grid"
          style="padding-inline-start: unset;">
          {% assign featured_projects = site.projects | where: "featured", "true" %}
          {% for project in featured_projects %}
            <li class="col-lg-6" style="list-style-type: none;">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="d-flex w-100">
                    <div class="icon icon-shape icon-shape-{{ project.color_type }} rounded-circle mb-4">
                      <i class="ni ni-{{ project.ni_icon_name }}" aria-hidden="true"></i>
                    </div>
                    <div class="d-flex justify-content-end w-100">
                      <span class="badge badge-{% if project.in_progress %}success{% else %}default{% endif %} badge-pill" style="height: fit-content;">
                        {% if project.in_progress %}In corso{% else %}Terminato{% endif %}
                      </span>
                    </div>

                  </div>
                  <h3 class="text-{{ project.color_type }}">{{ project.title }}</h3>
                  <p class="description mt-3">{{ project.summary }}</p>
                  {% assign content_without_html = project.content | strip_html | strip %}
                  {% if content_without_html.size > 0 %}
                    <a href="{{ project.url }}" class="btn btn-{{ project.color_type }} mt-4">{{ site.data.settings.basic_settings.learn_more_button_title }} su {{ project.title }}
                      <i class="ni ni-bold-right text-{{ project.color_type }}" aria-hidden="true"></i>
                    </a>
                  {% endif %}

                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>