<div class="section features-1">
  <div class="container">
    <div class="row">
      <!-- Title and badges -->
      <div class="w-100 text-center text-md-left">
        <ul class="list-inline" aria-label="keyword servizi" style="padding-inline-start: unset; margin-bottom: unset;">
          {% for badge in site.data.settings.service_settings["badges"] %}
            <li class="list-inline-item badge badge-{{ badge.color_type }} badge-pill mb-3">{{ badge.name }}</li>  
          {% endfor %}
        </ul>
        
        <h2 class="display-3">Cosa possiamo offrire</h2>
        <p class="lead">
          {{ site.data.settings.service_settings["summary"] }}
        </p>
      </div>
    </div>
    <ul aria-label="servizi" class="row" style="padding-inline-start: unset;">
      {% assign sorted_services = site.services | sort: "order" %}
      {% for service in sorted_services %}
        <li class="col-md-6" style="list-style-type: none;">
          <div class="info">
            <div class="icon icon-lg icon-shape icon-shape-{{ service.color_type }} shadow rounded-circle">
              <i class="ni ni-{{ service.ni_icon_name }}" aria-hidden="true"></i>
            </div>
            <h3 class="info-title text-uppercase text-primary">{{ service.name }}</h3>
            <p class="description">{{ service.summary }}</p>
            {% assign content_without_html = service.content | strip_html | strip %}
      <a href="{% if content_without_html.size > 0 %} {{ service.url }} {% else %} /servizi#{{ service.name | slugify }}{% endif %}" class="text-primary">{{ site.data.settings.basic_settings["learn_more_button_title"] }} su {{ service.name }}
              <i class="ni ni-bold-right text-primary" aria-hidden="true"></i>
            </a>
          </div>
        </li>
      {% endfor %}
  </ul>
</div>
