<div class="section features-3 mt-5 fullWidth" style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <!-- Title row -->
    <div class="row text-center text-md-left">
      <div class="col-lg-8">
        <h2 class="display-3 text-white">Gli ambiti nei quali abbiamo più esperienza
        </h2>
        <p class="lead text-white">In Accesee, la nostra esperienza si estende attraverso vari domini, ciascuno fondamentale nel costruire un futuro più accessibile e inclusivo. Questa sezione esplora gli ambiti nei quali abbiamo maturato una profonda competenza, testimoniando il nostro impegno a offrire soluzioni innovative e di valore. Dall'abbattimento delle barriere digitali all'innovazione nella didattica per le materie STEM, ci impegniamo a rendere il sapere e le opportunità accessibili a tutti</p>
      </div>
    </div>

    <ul
      aria-label="ambiti in cui abbiamo più esperienza"
      class="row row-grid mt-5"
      style="padding-inline-start: unset;">
      {% assign sorted_working_areas = site.working_areas | sort: "order" %}
      {% for working_area in sorted_working_areas %}
        <li class="mt-5 col-lg-6" style="list-style-type: none;">
          <div class="info info-horizontal bg-white">
            <div class="icon icon-shape icon-shape-{{ working_area.color_type }} rounded-circle text-white">
              <i class="ni ni-{{ working_area.ni_icon_name }} text-{{ working_area.color_type }}" aria-hidden="true"></i>
            </div>
            <div class="description pl-4">
              <h3 class="title text-{{ working_area.color_type }}">{{ working_area.name }}</h3>
              <p>{{ working_area.description }}</p>
              {% assign content_without_html = working_area.content | strip_html | strip %}
              {% if content_without_html.size > 0 %}
                <a
                  href="{{ working_area.url }}"
                  class="text-{{ working_area.color_type }}"
                  style="font-size: 1rem;">
                  {{ site.data.settings.basic_settings["learn_more_button_title"] }} su {{ working_area.name }}
                  <i class="ni ni-bold-right text-{{ working_area.color_type }}" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>