<div class="section">
  <div class="container card card-nav-tabs">
    <div class="card-header card-header warning">
      <div class="d-flex flex-column flex-md-row">
        <h3 class="text-center">
          {{ include.assessment.title }}
        </h3>
        <div class="d-flex flex-grow-1 justify-content-center justify-content-md-end">

          {% assign assessment_date = include.assessment.date | date: "%m/%Y" %}
          <p>Data (mese/anno): {{ assessment_date }}</p>
        </div>
      </div>
    </div>
    <div class="card-body text-center text-md-left">
      <p>Sito web: <a href="{{ include.assessment.site_url }}">{{ include.assessment.site_url }}</a></p>  
      <p>{{ include.assessment.summary }}</p>
    </div>
    {% if include.assessment.content.size > 0 %}
      <div class="card-footer">
        <a href="{{ include.assessment.url }}" class="btn btn-primary text-secondary">{{ site.data.settings.basic_settings.learn_more_button_title }} su {{ include.assessment.title }}</a>
      </div>
    {% endif %}

  </div>
  <hr>
</div>