---
layout: default
---

<div class="container-fluid d-flex justify-content-center mb-4">
  <img
    src="{{ page.profile_image.filename | relative_url }}"
    alt="{{ page.profile_image.alt_text }}"
    class="img-fluid">
</div>

<main>
  {{ content }}
</main>
<aside>
  {% if page.cv_link %}
    <h3>Curriculum vitae</h3>
    <a target="_blank" href="{{ page.cv_link }}">Scarica il curriculum vitae in PDF</a>
  {% endif %}
  
</aside>
